# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Signaturer/config_server
Signaturer/CMakeLists.txt
BlindSignature/bserver
BlindSignature/bclient
BlindSignature/config_server
BlindSignature/server_pass
BlindSignature/server_salt
BlindSignature2/server_pass
BlindSignature2/server_salt
BlindSignature2/ex2/server_pass
BlindSignature2/ex2/server_salt
BlindSignature2/bclient
BlindSignature2/bserver
BlindSignature2/CMakeLists.txt
BlindSignature2/ex2/bserver
BlindSignature2/ex2/bclient
BlindSignature2/info/git_java_source
BlindSignature2/info/results
BlindSignature3/bserver
BlindSignature3/info/blind_signature_info
BlindSignature3/bclient
BlindSignature3/info/git_java_source
BlindSignature3/info/results
BlindSignature3/README.md
BlindSignature3/test
BlindSignature3/server_salt
BlindSignature3/server_pass
BlindSignature3/test
